.MuiDrawer-paperAnchorDockedLeft {
    border-right: 0!important;
  }

  .MuiBottomNavigationAction-root{
    max-width: 110px !important;
    min-width: auto !important;
  }

  .WroCl{
    position: static !important;
  }

  html {
    overflow-x: hidden;
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth !important;
}

  .videoContainer
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
    overflow-y: scroll;
    
    

}

.videoItem{
  margin-bottom: 45px;
  scroll-snap-align: start;
}

.makeStyles-media-2 {

  padding-top: 20% !important;
}

.makeStyles-card-1 {

  margin: auto;

}

/*.MuiPaper-root
{
  display: flex;
  justify-content: center;
}*/


.customCenterA
{
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-self: center;
}