.MuiDrawer-paperAnchorDockedLeft {
    border-right: 0!important;
  }

  .MuiBottomNavigationAction-root{
    max-width: 110px !important;
    min-width: auto !important;
  }

  .WroCl{
    position: static !important;
  }


  .videoContainer
  {
    display: flex;
    justify-content: center;
}
  